.application-form {
  background: rgba(245, 247, 249, 0.2);
  padding: 20px;
  border: 1px solid rgba(151, 151, 151, 0.2);
  border-radius: 4px;

  @include mq('tablet') {
    padding: 40px;
  }

  @include mq('tablet-wide') {
    padding: 80px;
  }


  .form {
    @include e('inline') {
      margin-top: 40px;

      @include mq('tablet') {
        margin-top: 80px;
      }
    }

    @include e('title') {
      font-size: 18px;
      line-height: 26px;
      font-weight: bold;
      font-family: "Open Sans", sans-serif;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(216,216,216,0.2);

      @include mq('tablet') {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 48px;
      }
    }
  }
}

.drop-file {
  overflow: hidden;
  .input-file-upload {
    float: left;
    width: calc(100% - 100px);
    border-radius: 4px 0 0 4px;
    border-right: 0;
  }

  .button {
    width: 100px;
    float: left;
    border-radius: 0 4px 4px 0;
    height: 64px;
    padding: 10px;
    font-size: 16px;
    font-weight: normal;

    &:before {
      content: '';
      width: 12px;
      height: 12px;
      display: inline-block;
      background: url("../../images/icons/ic_attachment-clip.svg") no-repeat left center;
      background-size: 12px;
      margin-right: 5px;
    }
  }
}