.job-wrap {
  position: relative;

  @include e('inner') {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.job-heading {
  max-width: 450px;
  padding: 50px 0 100px;

  @include mq('tablet') {
    padding: 50px 0 100px;
  }

  @include mq('tablet-wide') {
    max-width: 635px;
    padding: 100px 0 200px;
  }

  h1 {
    margin-bottom: 20px;

    @include mq('tablet') {
      margin-bottom: 48px;
    }
  }

  p {
    margin-bottom: 0;
  }
}

.job-image {
  position: absolute;
  top: -135px;
  right: 0;
  width: 120px;

  img {
    width: 100%;
  }

  @include mq('tablet') {
    top: -330px;
    right: -60px;
    width: 400px;
  }

  @include mq('tablet-wide') {
    top: -350px;
    width: 500px;
  }
}

.job-list {
  @include e('item') {
    /* bg: */
    padding: 25px 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    border: 1px solid rgba(202, 202, 202, 0.2);
    transition: all 0.25s ease-in-out;
    position: relative;

    @include mq('tablet') {
      padding: 48px 48px 48px 150px;
    }

    @include mq('tablet-wide') {
      padding: 48px 48px 48px 150px;
    }

    .title {
      a {
        color: #1f2d3d;
      }
    }

    &.icon {
      &:before {
        content: '';
        position: absolute;
        width: 68px;
        height: 68px;
        top: 48px;
        left: 48px;
        border-radius: 50%;
        display: none;

        @include mq('tablet') {
          display: inline-block;
        }
      }

      &#senior-software-engineer {
        &:before {
          background: #3369E7 url("../../images/position-icons/ic_code.png") no-repeat center;
          background-size: 24px;
        }
      }

      &#senior-front-end-engineer {
        &:before {
          background: #8E43E7 url("../../images/position-icons/ic_devices.png") no-repeat center;
          background-size: 24px;
        }
      }

      &#mobile-platform-engineer {
        &:before {
          background: #B84592 url("../../images/position-icons/ic_phone.png") no-repeat center;
          background-size: 24px;
        }
      }

      &#product-manager {
        &:before {
          background: #FF4F81 url("../../images/position-icons/ic_layers.png") no-repeat center;
          background-size: 24px;
        }
      }

      &#product-development-manager {
        &:before {
          background: #FF6C5F url("../../images/position-icons/ic_wb_incandescent.png") no-repeat center;
          background-size: 24px;
        }
      }

      &#qa-engineer {
        &:before {
          background: #FFC168 url("../../images/position-icons/ic_settings.png") no-repeat center;
          background-size: 24px;
        }
      }

      &#devops-engineer {
        &:before {
          background: #8E43E7 url("../../images/position-icons/ic_inclusive.png") no-repeat center;
          background-size: 24px;
        }
      }

      &#data-engineer {
        &:before {
          background: #B84592 url("../../images/position-icons/ic_storage.png") no-repeat center;
          background-size: 24px;
        }
      }

      &#customer-support-engineer {
        &:before {
          background: #FF4F81 url("../../images/position-icons/ic_supervisor.png") no-repeat center;
          background-size: 24px;
        }
      }

      &#data-visualization-engineer {
        &:before {
          background: #FF6C5F url("../../images/position-icons/ic_insert_chart.png") no-repeat center;
          background-size: 24px;
        }
      }
    }

    &:not(:first-child) {
      margin-top: 40px;

      @include mq('tablet') {
        margin-top: 80px;
      }
    }

    &:hover, &:focus {
      background: #fff;
      box-shadow: 0 8px 20px 0 rgba(21, 30, 56, 0.14);
      transition: all 0.25s ease-in-out;
    }

    .title {
      font-size: 18px;
      line-height: 26px;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 15px;

      @include mq('tablet') {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 24px;
      }

      &.custom-border {
        &:after {
          content: '';
          display: block;
          width: 24px;
          height: 2px;
          margin: 15px 0 0;
          background: #4A4A4A;

          @include mq('tablet') {
            margin: 32px 0 0;
          }
        }
      }
    }

    .button-wrap {
      margin-top: 20px;

      @include mq('tablet') {
        margin-top: 48px;
      }
    }
  }
}
