.job-wrap {
  &.detail {
    .job-heading {
      position: relative;

      &.icon {
        &:before {
          content: '';
          position: absolute;
          width: 68px;
          height: 68px;
          top: -5px;
          left: 0;
          border-radius: 50%;
          display: none;

          @include mq('tablet') {
            display: inline-block;
          }
        }

        &#senior-software-engineer {
          &:before {
            background: #3369E7 url("../../images/position-icons/ic_code.png") no-repeat center;
            background-size: 24px;
          }
        }

        &#senior-front-end-engineer, &#software-engineer-web {
          &:before {
            background: #8E43E7 url("../../images/position-icons/ic_devices.png") no-repeat center;
            background-size: 24px;
          }
        }

        &#senior-software-mobile-engineer {
          &:before {
            background: #B84592 url("../../images/position-icons/ic_phone.png") no-repeat center;
            background-size: 24px;
          }
        }

        &#product-manager, &#product-designer {
          &:before {
            background: #FF4F81 url("../../images/position-icons/ic_layers.png") no-repeat center;
            background-size: 24px;
          }
        }

        &#product-development-manager {
          &:before {
            background: #FF6C5F url("../../images/position-icons/ic_wb_incandescent.png") no-repeat center;
            background-size: 24px;
          }
        }

        &#qa-engineer, &#technical-recruiter {
          &:before {
            background: #FFC168 url("../../images/position-icons/ic_settings.png") no-repeat center;
            background-size: 24px;
          }
        }

        &#devops-engineer, &#product-security-engineer  {
          &:before {
            background: #8E43E7 url("../../images/position-icons/ic_inclusive.png") no-repeat center;
            background-size: 24px;
          }
        }

        &#data-engineer {
          &:before {
            background: #B84592 url("../../images/position-icons/ic_storage.png") no-repeat center;
            background-size: 24px;
          }
        }

        &#customer-support-engineer, &#customer-success-executive {
          &:before {
            background: #FF4F81 url("../../images/position-icons/ic_supervisor.png") no-repeat center;
            background-size: 24px;
          }
        }

        &#data-visualization-engineer {
          &:before {
            background: #FF6C5F url("../../images/position-icons/ic_insert_chart.png") no-repeat center;
            background-size: 24px;
          }
        }
      }

      h1 {
        font-size: 28px;
        line-height: 36px;
        font-weight: normal;
        margin-bottom: 45px;

        @include mq('tablet') {
          font-size: 36px;
          line-height: 51px;
          margin-bottom: 90px;
          padding-left: 100px;
        }
      }

      h3 {
        position: relative;
        font-size: 24px;
        line-height: 33px;
        font-family: "Open Sans", sans-serif;
        margin-top: 80px;
        margin-bottom: 16px;

        &:after {
          content: '';
          display: block;
          width: 48px;
          height: 1px;
          margin: 16px 0 0;
          background: #cacaca;
          border-radius: 4px;

          @include mq('tablet') {
            margin: 32px 0 0;
          }
        }
      }

      p {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        @include mq('tablet') {
          margin-bottom: 35px;
        }
      }

      ul {
        list-style: disc;
        font-size: 18px;
        line-height: 51px;
        padding-left: 20px;

        li {
          margin-bottom: 10px;
        }
      }
    }
  }

  .btn-wrap {
    margin-top: 80px;

    .button {
      padding: 20px 80px;
      font-size: 22px;
      line-height: 30px;
    }
  }
}