.job-wrap {
  &.detail {
    .job-heading {
      position: relative;
      padding-left: 0;

      @include mq('tablet') {
        padding-left: 100px;
      }

      &.icon {
        &:before {
          content: '';
          position: absolute;
          width: 68px;
          height: 68px;
          top: 100px;
          left: 0;
          background-repeat: no-repeat;
          background-size: 68px;
          display: none;

          @include mq('tablet') {
            display: inline-block;
          }
        }

        &.project-software-icon {
          &:before {
            background-image: url("../../images/handshake.svg");
          }
        }

        &.project-frontend-icon {
          &:before {
            background-image: url("../../images/bulb.svg");
          }
        }

        &.project-mobile-icon {
          &:before {
            background-image: url("../../images/checklist.svg");
          }
        }
      }

      h1 {
        font-size: 28px;
        line-height: 36px;
        font-weight: normal;
        margin-bottom: 20px;

        @include mq('tablet') {
          font-size: 36px;
          line-height: 51px;
          margin-bottom: 44px;
        }
      }

      p {
        margin-bottom: 15px;

        @include mq('tablet') {
          margin-bottom: 35px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}