.section {
  @include e('inner') {
    max-width: 1176px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @include e('title') {
    margin-bottom: 25px;

    @include mq('tablet') {
      margin-bottom: 50px;
    }

    &.custom-border {
      &:after {
        content: '';
        display: block;
        width: 48px;
        height: 4px;
        margin: 16px auto 0;
        background-image: linear-gradient(-236deg, #E02386 3%, #CF2685 46%, #893081 100%);
        border-radius: 4px;

        @include mq('tablet') {
          margin: 32px auto 0;
        }
      }

      &.left {
        &:after {
          margin: 16px 0 0;

          @include mq('tablet') {
            margin: 32px 0 0;
          }
        }
      }
    }
  }
}

//Hero-Banner-Section
.hero-section {
  position: relative;

  @include mq('tablet') {
    height: calc(100vh - 130px);
  }

  &:before {
    content: '';
    position: absolute;
  }

  .hero-content {
    max-width: 670px;
    position: relative;
    z-index: 1;
    padding-top: 50px;
    padding-right: 40px;

    @include mq('tablet') {
      padding-top: 70px;
      padding-right: 0;
    }
  }

  h1 {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 24px;

    @include mq('phone-wide') {
      font-size: 50px;
      line-height: 64px;
    }

    @include mq('tablet') {
      font-size: 60px;
      line-height: 70px;
    }

    @include mq('tablet-wide') {
      padding: 0;
      font-size: 64px;
      line-height: 85px;
    }
  }

  p {
    margin-bottom: 0;
  }
}

.hero-image {
  position: absolute;
  top: -90px;
  right: -160px;
  text-align: right;
  width: auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include mq('phone-wide') {
    right: -160px;
  }

  @include mq('tablet') {
    position: absolute;
    top: -130px;
    bottom: 0;
    right: -250px;
    width: auto;

    img {
      width: auto;
    }
  }

  @include mq('tablet-wide') {
    right: -220px;
  }

  @include mq('desktop') {
    right: -100px;
  }
}

//What-we-do-section
.what-we-do-section {
  padding: 100px 0 40px;
  text-align: center;
  position: relative;
  margin-top: 80px;

  @include mq('tablet') {
    padding: 200px 20px 80px;
    margin-top: 0;
  }

  .what-we-do-wrap {
    padding: 36px 30px;
    background: #FFFFFF;
    box-shadow: 0 30px 204px 0 rgba(21, 30, 56, 0.14);
    border-radius: 4px;
    position: relative;

    @include mq('tablet-wide') {
      padding: 80px 50px;
    }
  }

  .what-we-do-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    @include mq('tablet') {
      width: 600px;
      bottom: auto;
    }

    img {
      width: auto;
      height: 100%;

      @include mq('tablet') {
        width: 100%;
      }
    }

    @include mq('tablet-wide') {
      width: auto;
      top: -100px;

      img {
        width: auto;
      }
    }

  }
}

.what-we-do-wrap {
  p {
    max-width: 770px;
    margin: 0 auto;
  }
}

.what-we-do-grid {
  margin-top: 24px;

  img {
    margin: 0 auto 85px;
    display: none;

    @include mq('tablet') {
      display: block;
    }
  }

  a {
    display: block;
    font-size: 9px;
    line-height: 17px;
    margin-bottom: 20px;
    position: relative;

    @include mq('tablet') {
      margin-bottom: 85px;
      font-size: 14px;
      line-height: 28px;
    }

    &:before {
      content: '';
      box-shadow: 0 0 0 1px rgba(151, 151, 151, 0.2), inset 0 0 0 1px rgba(151, 151, 151, 0.2);
      border: 4px solid #fff;
      width: 16px;
      height: 16px;
      background: rgba(229, 232, 238, 0.2);
      border-radius: 50%;
      transition: all 0.25s ease-in-out;

      @include mq('tablet') {
        width: 28px;
        height: 28px;
      }
    }

    &:hover, &:focus {
      &:before {
        background: $base-secondary-color;
        box-shadow: 0 0 0 2px rgba(0, 174, 255, 0.1);
        border-color: #e8f7ff;
        transition: all 0.25s ease-in-out;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .text-right {
    text-align: left;

    @include mq('tablet') {
      text-align: right;
    }

    a {
      padding-left: 25px;

      &:before {
        position: absolute;
        left: 0;
      }

      @include mq('tablet') {
        padding-right: 50px;
        padding-left: 0;

        &:before {
          left: auto;
          right: 0;
        }
      }
    }
  }

  .what-we-do-list {
    @include mq('tablet') {
      overflow: hidden;
    }

    li {
      position: relative;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(1) {
        padding-top: 72px;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 48px;
          height: 48px;
          background: url("../../images/ic_settings.png") no-repeat;
          background-size: 48px;
          display: block;
          margin: 0 auto;
        }
      }

      @include mq('tablet') {
        float: left;
        width: 33.33%;
        min-height: 364px;
        margin-bottom: 0;

        &:nth-child(1) {
          padding-top: 0;
          top: 80px;

          &:before {
            display: none;
          }
        }

        &:nth-child(3) {
          padding-top: 80px;
        }

        &:nth-child(2) {
          position: relative;
          padding-top: 264px;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 194px;
            height: 194px;
            background: url("../../images/ic_settings.png") no-repeat;
            background-size: 194px;
            display: block;
            margin: 0 auto;
          }

          .text-right {
            text-align: center;

            a {
              padding: 0;

              &:before {
                display: none;
                margin: 0 auto 16px;

                @include mq('tablet') {
                  display: block;
                  position: static;
                }
              }
            }
          }
        }

        &:nth-child(3),
        &:nth-child(5) {
          float: right;
        }

        &:nth-child(4),
        &:nth-child(5) {
          min-height: inherit;
          margin-top: -150px;
        }

        &:nth-child(3), &:nth-child(5) {
          .text-right {
            text-align: center;

            @include mq('tablet') {
              text-align: left;
            }

            a {
              padding: 0;

              @include mq('tablet') {
                padding-left: 50px;
              }

              &:before {
                position: absolute;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
}

//Technologies-section
.technologies {
  position: relative;
  padding: 50px 0;

  [data-tooltip]:after {
    background: transparent;
    color: #000;
    font-size: 12px;
    font-weight: 600;
  }

  [data-tooltip][data-tooltip-conf*=bottom]:focus:after,
  [data-tooltip][data-tooltip-conf*=bottom]:hover:after {
    transform: translate(-50%, 3px);
  }

  @include mq('tablet') {
    padding: 100px 0;
  }

  @include mq('tablet-wide') {
    padding: 150px 0 100px;
  }

  .tech-img {
    display: none;

    @include mq('tablet') {
      position: absolute;
      left: 0;
      bottom: -100px;
      width: 500px;
      display: block;
    }

    img {
      width: 100%;
    }
  }

  .section__inner {
    position: relative;
  }

  p {
    margin-bottom: 0;
  }

  @include e('inner') {
    &.left {
      .content {
        margin-bottom: 80px;

        @include mq('tablet') {
          margin-bottom: 143px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .sm {
      h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        line-height: 17px;
        font-weight: bold;
        margin-bottom: 24px;

        @include mq('phone-wide') {
          font-size: 14px;
          line-height: 19px;
          margin-bottom: 30px;
        }
      }

      ul {
        margin: 0 0 -16px;

        li {
          margin: 0 16px 15px 0;
          display: inline-block;

          @include mq('phone-wide') {
            display: inline-block;
            margin: 0 16px 16px 0;
          }

          &:last-child {
            margin-bottom: 0;
            margin-right: 0;
          }

          &:hover, &:focus {
            span {
              background: #FFFFFF;
              box-shadow: 0 5px 11px 0 rgba(21, 30, 56, 0.14);
              border-radius: 4px;
              color: #000;
              transition: all 0.3s ease-in-out;
            }
          }

          span {
            display: block;
            padding: 8px 6px;
            border: 1px solid rgba(151, 151, 151, 0.1);
            border-radius: 4px;
            font-size: 10px;
            line-height: 14px;
            background: rgba(245, 247, 249, 0.1);
            transition: all 0.3s ease-in-out;

            @include mq('tablet') {
              padding: 10px 16px;
              font-size: 12px;
              line-height: 17px;
            }

            @include mq('tablet-wide') {
              font-size: 14px;
              line-height: 19px;
            }
          }
        }
      }
    }

    .platform {
      padding: 50px 0 0;

      @include mq('tablet') {
        padding: 100px 0 30px 60px;
      }

      h6 {
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 16px;

        @include mq('tablet') {
          font-size: 14px;
          line-height: 19px;
          margin-bottom: 24px;
        }
      }

      ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;

        img {
          width: 100%;
        }
      }

      li {
        width: 33.33%;
        padding: 30px;

        @include mq('tablet') {
          width: 20%;
        }
      }

      .content {
        padding-bottom: 20px;
        margin-bottom: 48px;
        border-bottom: 1px solid #F2F5F8;

        &:last-child {
          margin-bottom: 0;
          border-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}

//Hiring-section
.hiring {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding-right: 120px;

  @include mq('tablet') {
    height: 550px;
    padding-right: 0;
  }

  @include mq('tablet-wide') {
    height: 700px;
  }

  &-img {
    position: absolute;
    top: 0;
    width: 100%;
    right: -180px;
    height: 100%;

    @include mq('tablet') {
      right: -185px;
      width: 300px;
      display: block;
    }

    @include mq('tablet-wide') {
      width: 600px;
      right: 0;
    }

    img {
      height: 100%;
      width: auto;

      @include mq('tablet') {
        height: auto;
        width: 100%;
      }
    }
  }

  &-wrap {
    max-width: 400px;

    @include mq('tablet-wide') {
      max-width: 500px;
    }
  }

  .section__inner {
    width: 100%;
  }

  h1 {
    font-size: 18px;
    left: 25px;
    font-weight: 600;
    margin-bottom: 16px;

    @include mq('tablet') {
      font-size: 60px;
      line-height: 80px;
      margin-bottom: 25px;
    }

    @include mq('tablet-wide') {
      font-size: 64px;
      line-height: 95px;
      margin-bottom: 50px;
    }
  }

  p {
    margin-bottom: 24px;

    @include mq('tablet') {
      margin-bottom: 60px;
    }

    @include mq('tablet-wide') {
      margin-bottom: 85px;
    }
  }
}