
.contact {
  position: relative;
  padding-top: 20px;

  @include mq('tablet') {
    padding-top: 80px;
  }

  img {
    display: block;
    width: 100%;
    transform: scale(3);
    position: relative;
    right: 82px;

    @include mq('tablet') {
      transform: scale(1);
      right: 0;
    }
  }

  .map {
    overflow: hidden;
    height: 100%;
    p {
      margin-bottom: 15px;

      @include mq('tablet') {
        margin-bottom: 50px;
      }
    }
  }

  @include e('grid') {
    position: relative;
  }

  .row {
    margin-bottom: 0;
  }

  .col-xsmall-12.col-small-6 {
    margin-bottom: 0;
  }

  address {
    h4 {
      font-size: 12px;
      line-height: 17px;
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
      margin-bottom: 24px;

      @include mq('tablet') {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 45px;
      }
    }
  }

  .information {
    padding-top: 50px;
    height: 100%;

    @include mq('tablet') {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 87px;
      padding-bottom: 100px;
    }
  }
}

.social {

  @include mq('tablet') {
    margin-top: 45px;
  }

  li {
    margin-bottom: 25px;

    @include mq('tablet') {
      margin-bottom: 50px;
    }

    a {
      position: relative;
      padding-left: 30px;
      font-size: 10px;
      line-height: 21px;
      display: inline-block;

      @include mq('tablet') {
        font-size: 16px;
        line-height: 24px;
        padding-left: 35px;
      }

      &:before {
        content:'';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 14px;
        height: 20px;
        background-size: 13px;
        background-repeat: no-repeat;
        background-position: 0 4px;

        @include mq('tablet') {
          width: 24px;
          height: 24px;
          background-size: 23px;
          background-position: 0 1px;
        }
      }

      &.location {
        &:before {
          background-image: url('../../images/icons/ic_location.png');
          background-size: 10px;

          @include mq('tablet') {
            background-size: 16px;
          }
        }
      }

      &.mail {
        &:before {
          background-image: url('../../images/icons/ic_email.png');
        }
      }

      &.linkedin {
        background: #0077B5;
        color: #fff;
        padding: 15px 32px 15px 65px;
        border-radius: 30px;
        font-weight: 600;
        font-size: 14px;

        &:before {
          background-image: url('../../images/icons/ic_linkedin-square.png');
          top: 12px;
          filter: brightness(0) invert(1);
          left: 35px;
          background-size: 18px;
          width: 18px;
          height: 23px;

          @include mq('tablet') {
            top: 17px;
          }
        }

        &:hover, &:focus {
          background: darken(#0077B5, 5%);
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contact-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  display: none;

  @include mq('tablet') {
    display: block;
  }
}

address {
  font-style: normal;
}

.address, .copyright {
  padding: 0;

  @include mq('tablet') {
    padding-left: 50px;
  }
}

.copyright {
  position: relative;
  margin: 30px 0 20px;

  @include mq('tablet') {
    margin: 0;
  }

  p {
    font-size: 9px;
    line-height: 13px;
    margin: 0;

    @include mq('tablet') {
      font-size: 14px;
      line-height: 19px;
    }
  }

  strong {
    font-weight: 600;
    color: #000;
  }

  .chat-bubble {
    top: -60px;
    right: 0;
    position: absolute;
    @include hide-text();
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: $light-green url('../../images/icons/ic_up-arrow.svg') no-repeat center;
    background-size: 28px;
    box-shadow: 0 8px 8px 0 rgba(0,85,63,0.10), 0 8px 16px 0 rgba(140,228,205,0.41);

    &:hover, &:focus {
      background: darken($light-green, 5%) url('../../images/icons/ic_up-arrow.svg') no-repeat center;
      background-size: 28px;
    }

    @include mq('tablet') {
      top: -30px;
      left: 350px;
    }
  }
}